# System files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Editor configs
.vscode/

# Environment variables
.env

# Application uploads
# Ignore all files in /applications except allowed formats
applications/*
!applications/.keep
!applications/**/*.txt
!applications/**/*.pdf
!applications/**/*.docx

